﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Odhlasit", "Ucet", new { area = "" } , FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
             @Html.ActionLink(User.Identity.GetUserName(), "MojProfil", "Uzivatelia", routeValues: null, htmlAttributes: new { title = "Uprav profil" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Odhlásiť</a></li>
    </ul>
    }
}
