﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin/@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/backcss")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/datetimepicker")
    @Styles.Render("~/Content/datetimepicker")
    @Styles.Render("~/Content/toast")
    @Styles.Render("~/Content/autocomplete")


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("E-Tombola/Administrácia", "Index", "DashBoard", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Hlavná strana", "Index", "../Home")</li>
                    
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="row">
            <div class="col-md-2" id="leftCol">

                <div class="well">
                    <ul class="nav nav-stacked" id="sidebar">
                        <li>
                            <a class="btn btn-default" aria-label="Left Align" href="@Url.Action("Index","DashBoard")">
                                <span class="glyphicon glyphicon-home pull-left" aria-hidden="true"></span>
                                Dashboard
                            </a>
                        </li>
                        <li><a class="btn btn-default" aria-label="Left Align" href="@Url.Action("Index","Tomboly")">
                                <span class="glyphicon glyphicon-gift pull-left" aria-hidden="true"></span>
                                  Tomboly
                            </a>
                        </li>
                        <li><a class="btn btn-default" aria-label="Left Align" href="@Url.Action("Index","Uzivatelia")">
                                <span class="glyphicon glyphicon-user pull-left" aria-hidden="true"></span> 
                                 Uživatelia
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-default" aria-label="Left Align" href="@Url.Action("Index","Transakcie")">
                                <span class="glyphicon glyphicon-list-alt pull-left" aria-hidden="true"></span>
                                Transakcie
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-default" aria-label="Left Align" href="@Url.Action("Index","Spravy")">
                                <span class="glyphicon glyphicon-envelope pull-left" aria-hidden="true"></span>
                                Správy
                            </a>
                        </li>
                        
                    </ul>
                </div>

            </div>  
            <div class="col-md-10">
                @if ((bool)Context.Application["Zrebovanie"])
                {
                    <div class="alert alert-warning" role="alert"><span class="glyphicon glyphicon-info-sign"></span> Práve prebieha žrebovanie / Stream je aktívny. @Html.ActionLink("Zobraz","Zrebovanie","Tomboly",null,null)</div>
                }
                @RenderBody()
            </div>
        </div>

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - E-tombola</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/toast")
    @Scripts.Render("~/bundles/autocomplete")
    @RenderSection("scripts", required: false)

    @{
        var msg = TempData["msg"] as string;

        if(!String.IsNullOrEmpty(msg))
        { 
        <script type="text/javascript">
            $.toast({
                text: "<span class='glyphicon glyphicon-info-sign'></span> @msg",
                position: { left:'auto', right: 15 , top: 60, bottom: 'auto' }
            })
        </script>
    }

        }

</body>
</html>
