﻿@model E_Tombola.Models.IndexViewModel
@{
    ViewBag.Title = "Domov";
}
<h2><span class="glyphicon glyphicon-gift"></span> Najbližšia tombola</h2>
<hr />
<div class="jumbotron" style="background:url('@Url.Content(Model.Raffle.ImageURL)') no-repeat center center">
    <div class="row">
        <div class="col-md-8">
            <h1>@Model.Raffle.Title</h1>
            <p class="lead">@Model.Raffle.Description</p>
        </div>
        <div class="col-md-4 tombola_caption">
            <div>
                <p>Skúste štastie a zapojte sa do tomboly</p>
                <p>Hodnota ceny: @Model.Raffle.Price &#8364</p>
                <p>Počet lístkov: @Model.Raffle.Tickets.Count</p>
                <p>Dátum žrebovania: <br />
                    @Model.Raffle.DateOfDrawing
                 
                </p>
                @if (Model.Raffle.EndOfTicketSale > DateTime.Now)
                {
                    <p>Predaj lístkov končí o <span id="countdown1">@((Model.Raffle.EndOfTicketSale-DateTime.Now).Days) dni</span></p>
                
                    <p><a href=@Url.Action("KupListky","Tombola", new { id = Model.Raffle.Id }) class="btn btn-success btn-large">Kúp tombolový lístok &raquo;</a></p>
                }
                else
                {
                    <p><strong>Predaj lístkov skončil.</strong></p>
                }
            </div>
        </div>
    </div>
    
    
</div>

<div class="row">
    
    <div class="col-md-4">
        <h2>Skvelé výhry od 1 &#8364 </h2>
        <p>Už za jedno euro sa môžeš zapojiť do súťaže o hodnotné ceny.</p>
        <p><b> Nezabudni! Čím viac lístkov nakúpiš, tým máš väčšiu šancu že vytiahneme jeden z nich.</b></p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Viac &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ako to funguje?</h2>
        <p>
            <ol>
                <li><span class="glyphicon glyphicon-euro"></span> Nakúp kredity</li>
                <li><span class="glyphicon glyphicon-retweet"></span> Vymeň ich za tombolové lístky</li>
                <li><span class="glyphicon glyphicon-expand"></span> Sleduj online žrebovanie</li>
                <li><span class="glyphicon glyphicon-gift"></span> Uži si svoju výhru</li>
            </ol>
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Pravidlá hry &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Platobné metódy</h2>
        <p>Platba kartou...</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Viac &raquo;</a></p>
    </div>
</div>


 