﻿<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"> Admin</h3>
    </div>
    <div class="panel-body">
        <p>
            <p> 
            @Html.ActionLink("Administrácia", "Index", new { Area = "Admin" }, new {  @Class = "btn btn-succes"})
        </p>
    </div>
</div>
