﻿@model E_Tombola.Models.UserProfileViewModel

@{
    ViewBag.Title = "Profil";
}

<h1><span class="glyphicon glyphicon-user" ></span> Môj Profil <small>@User.Identity.Name</small></h1>
<hr />
<a class="btn btn-default" aria-label="Left Align" href="@Url.Action("Nakupy")">
    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
    História nákupov
</a> |
<a class="btn btn-default" aria-label="Left Align" href="@Url.Action("ZmenaHesla","Ucet" )">
    <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
    Zmena hesla
</a>
<hr />
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Aktívne lístky</h3>
    </div>
    <div class="panel-body">
        @if(Model.ActiveTickets.Count==0)
        {
            <b>Žiaden z vašich lístkov nieje aktívny</b>
        }
    </div>
    @if(Model.ActiveTickets.Count > 0)
    { 
    <table class="table">
        <tr>
            <th>
                Názov tomboly
            </th>
            <th>
                Čas žrebovania
            </th>           
            <th>
                Číslo lístku
            </th>
        </tr>

        @foreach (var item in Model.ActiveTickets)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Raffle.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Raffle.DateOfDrawing)
                </td>   
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
            </tr>
        }

    </table>
    }
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Výherné lístky</h3>
    </div>
    <div class="panel-body">
        @if (Model.WinTickets.Count == 0)
        {
            <b>Žiaden z vašich lístkov nieje výherný</b>
        }
    </div>
    @if (Model.WinTickets.Count > 0)
    {
        <table class="table">
            <tr>
                <th>
                    Názov tomboly
                </th>
                <th>
                    Čas žrebovania
                </th>
                <th>
                    Číslo lístku
                </th>
            </tr>

            @foreach (var item in Model.WinTickets)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Raffle.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Raffle.DateOfDrawing)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                </tr>
            }

        </table>
    }
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Staré lístky</h3>
    </div>
    <div class="panel-body">
        @if (Model.OldTickets.Count == 0)
        {
            <b>Nemáte žiadne lístky</b>
        }
    </div>
    @if (Model.OldTickets.Count > 0)
    {
        <table class="table">
            <tr>
                <th>
                    Názov tomboly
                </th>
                <th>
                    Čas žrebovania
                </th>
                <th>
                    Číslo lístku
                </th>
            </tr>

            @foreach (var item in Model.OldTickets)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Raffle.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Raffle.DateOfDrawing)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                </tr>
            }

        </table>
    }
</div>