﻿<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"> Môj účet</h3>
    </div>
    <div class="panel-body">
        <p>
            <b>Počet kreditov: </b> <span class="badge">@ViewBag.Credit</span>
        </p>
        <a class="btn btn-default" aria-label="Left Align" href="@Url.Action("Index")">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            Môj Profil
        </a>
        <a class="btn btn-default" aria-label="Left Align" href="@Url.Action("Index","Kredit")">
            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
            Kúpiť kredit
        </a>
        
    </div>
</div>
