﻿@model IEnumerable<E_Tombola.Models.Core.Purchase>

@{
    ViewBag.Title = "Nakupy";
}

<h2><span class="glyphicon glyphicon-list-alt"></span> Nákupy <small>@User.Identity.Name</small></h2>
<br />

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Archív nákupov</h3>
    </div>
    <div class="panel-body">
    </div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentMethod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
            </tr>
        }

    </table>
</div>

    <div>
        <a class="btn btn-default" aria-label="Left Align" href="@Url.Action("Index")">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            Späť
        </a>
    </div>
