﻿@model IEnumerable<E_Tombola.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
}

<h2><span class="glyphicon glyphicon-user"></span> Uživatelia systému @if(ViewBag.Z){<small>Zákazníci</small>} else { <small>Administrátori</small>} <span class="badge">@Model.Count()</span></h2>

<p>
    <ul class="nav nav-tabs">
        <li role="presentation" class=@{if(ViewBag.Z){<text> active </text> }}>  @Html.ActionLink("Zakaznici", "Index", new { show = "Zakaznici" })</li>
        <li role="presentation" class=@{if(ViewBag.A){<text> active </text>  }}>@Html.ActionLink("Administratori", "Index", new { show = "Administratori" })</li>

    </ul>
</p>
    

<p>
    @if(ViewBag.A)
    { 
        @Html.ActionLink("Pridať nového administrátora", "Novy", null, new { @class = "btn btn-primary" })
    }
</p>

<p>
    <table class="table">
        <tr>
            <th>Použivateľské meno (email)</th>
            <th>Akcie</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @if (ViewBag.Z)
                    { 
                        @Html.ActionLink(" ", "Profil", new {  username=item.UserName  }, new { @class = "btn btn-default glyphicon glyphicon-zoom-in", @title = "Detaily" }) @:|
                        @Html.ActionLink(" ", "Kredit", new {  username=item.UserName  }, new { @class = "btn btn-default glyphicon glyphicon-pencil", @title = "Edituj" })  @:|
                        @Html.ActionLink(" ", "Nova", "Spravy", new {  address=item.UserName  }, new { @class = "btn btn-default glyphicon glyphicon-envelope", @title = "Pošli Správu" }) 
                    }
                    @if (ViewBag.A)
                    {
                        @Html.ActionLink(" ", "Vymaz", new {  id=item.Id  }, new { @class = "btn btn-default glyphicon glyphicon-trash", @title = "Vymazať uživateľa" })
                    }
                </td>
            </tr>
        }

    </table>
</p>

