﻿@model E_Tombola.Areas.Admin.Models.AddKreditViewModel

@{
    ViewBag.Title = "Kredit";
}

<h2>Pridať kredit <small>@Model.UserName</small></h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <p> O pridaní kreditu bude vytvorený záznam (platba) <span class="glyphicon glyphicon-info-sign"></span></p>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.number, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.number)
                @Html.ValidationMessageFor(model => model.number)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price)
                @Html.ValidationMessageFor(model => model.Price)
            </div>
        </div>

        @Html.HiddenFor(model => model.profileId)
        @Html.HiddenFor(model => model.UserName)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Pridať kredit" class="btn btn-warning" />
            </div>
        </div>
    </div>
}

<div>
    <a class="btn btn-default" aria-label="Left Align" href="@Url.Action("Index")">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        Späť
    </a>
</div>
