﻿@model E_Tombola.Models.Core.Profile

@{
    ViewBag.Title = "Nakupy";
}

<h2>Nakupy <small>Prehľad</small></h2>

<div>
    <h4>@Html.DisplayFor(model => model.UserName)</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Credits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Credits)
        </dd>

    </dl>
    <table class="table">
        <tr>
            <th>
                Množstvo
            </th>
            <th>
                Cena
            </th>
            <th>
                Platobná metóda
            </th>
            <th>
                Status
            </th>
            <th>
                Čas
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Purchases)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentMethod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    
                </td>
            </tr>
        }

    </table>

</div>
<div>
    <a class="btn btn-default" aria-label="Left Align" href="@Url.Action("Profil", new { username = Model.UserName })">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        Späť
    </a>
</div>
