﻿@model E_Tombola.Areas.Admin.Models.ProfileViewModel

@{
    ViewBag.Title = "Profil";
}

<h2>Profil <small>@Model.profile.UserName</small></h2>

<div>
    <h4> Detail</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.profile.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.profile.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.profile.Credits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.profile.Credits)
        </dd>
        <dt>
            @if(Model.purchasesNumber==0)
            {
                @:História nákupov
            }
            else
            {
                @Html.ActionLink("História nákupov", "Nakupy", new { id = Model.profile.ProfileId})
            }
        </dt>
        <dd>
            @Html.DisplayFor(model => model.purchasesNumber)
        </dd>

        <dt>
            @if(Model.ticketNumbers==0)
            {
                @:Tombolové lístky
            }
            else
            {
                @Html.ActionLink("Tombolové lístky", "Listky", new {  username = Model.profile.UserName})
            }
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ticketNumbers)
        </dd>

    </dl>

</div>
<p>
    @Html.ActionLink("Pridat kredit", "Kredit", new { id = Model.profile.ProfileId }, new { @Class = "btn btn-warning"}) |
        <a class="btn btn-default" aria-label="Left Align" href="@Url.Action("Nova", "Spravy", new { address=Model.profile.UserName })">
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
            Správa
        </a> |
        <a class="btn btn-default" aria-label="Left Align" href="@Url.Action("Index")">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            Späť
        </a>
</p>
