﻿@model E_Tombola.Areas.Admin.Models.DeleteUserViewModel

@{
    ViewBag.Title = "Vymaz";
}

<h2>Vymazanie administrátora</h2>

<h3>Naozaj chcete vymazať uživateľa: @Model.UserName?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Email:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.UserName)
        @Html.HiddenFor(model => model.A)
        @Html.HiddenFor(model => model.B)
        <p>Vypočítajte príklad: <b>@Model.A + @Model.B = </b> @Html.TextBox("Result", "")</p>
        <p>@Html.ValidationMessageFor(model => model.Result)</p>
        <div class="form-actions no-color">
            <input type="submit" value="Vymazať???" class="btn btn-danger" /> |
            <a class="btn btn-default" aria-label="Left Align" href="@Url.Action("Index", new {show = "Administratori"})">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                Späť
            </a>
        </div>
    }
</div>
