﻿@model E_Tombola.Models.Core.Raffle

@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Title)</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageURL)
        </dt>

        <dd>
            <img src="@Url.Content(Model.ImageURL)" alt="Tombola" width="200" height="200"/>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price) 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price) &euro;
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceOfTicket)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceOfTicket) Kreditov
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfCreation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfCreation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfDrawing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfDrawing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartOfTicketSale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartOfTicketSale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndOfTicketSale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndOfTicketSale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WinnerTicketId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WinnerTicketId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfTickets)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfTickets)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Upraviť", "Edituj", new { id = Model.Id }, new { @class = "btn btn-default" })
    <a class="btn btn-danger " aria-label="Right Align" href=@Url.Action("Zrebovanie", "Tomboly", new { id = Model.Id })>
        <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
        Žrebuj

    </a>
</p>
<div>
    <a class="btn btn-default" aria-label="Left Align" href="@Url.Action("Index")">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        Späť
    </a>
</div>
