﻿@model E_Tombola.Models.Core.Raffle

@{
    ViewBag.Title = "Edituj";
}

<h2>Edituj</h2>


@using (Html.BeginForm("Edituj", "Tomboly",
                    FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.DateOfCreation)
    <div class="form-horizontal">
        <h4>@Html.DisplayFor(model => model.Title)</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImageURL, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(model => model.ImageURL)
                <img src="@Url.Content(Model.ImageURL)" width="200" height="200" />
                <input type="file" id="file" name="file" />
                @Html.ValidationMessageFor(model => model.ImageURL)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price)
                @Html.ValidationMessageFor(model => model.Price)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PriceOfTicket, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PriceOfTicket)
                @Html.ValidationMessageFor(model => model.PriceOfTicket)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.StartOfTicketSale, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartOfTicketSale)
                @Html.ValidationMessageFor(model => model.StartOfTicketSale)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndOfTicketSale, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndOfTicketSale)
                @Html.ValidationMessageFor(model => model.EndOfTicketSale)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateOfDrawing, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateOfDrawing)
                @Html.ValidationMessageFor(model => model.DateOfDrawing)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Uložiť" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    <a class="btn btn-danger" aria-label="Left Align" href="@Url.Action("Zrebovanie", new { id = Model.Id })">
        <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
        Žrebovať
    </a>
</div>
<hr />
<div>
    <a class="btn btn-default" aria-label="Left Align" href="@Url.Action("Index")">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        Späť
    </a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    // will trigger when the document is ready
    $('#StartOfTicketSale').datetimepicker({
        format: 'd. F. Y  H:i',
        lang: "sk"
    }); //Initialise any date pickers
    $('#EndOfTicketSale').datetimepicker({
        format: 'd. F. Y H:i',
        lang: "sk",
        DefaultDate: "@{ Model.EndOfTicketSale.ToShortDateString();}"

    });
    $('#DateOfDrawing').datetimepicker({
        format: 'd. F. Y H:i',
        lang: "sk"
    });
</script>

