﻿@model IEnumerable<int>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <title>ELos</title>
</head>
<body>
    <div><p>Žrebovie zastavíte stlačením ľub. klávesy</p></div>
    <div id="change" style="font-size:30em"> 
        @Html.Hidden("winner")
    </div>

    <div id="result"></div>
    
    <script>
        var array = @Html.Raw(Json.Encode(Model));
        
        var inter = setInterval(update, 75);

        i=0;
        function update() {
            $("#change").html(array[i]);
            i++;
            if(i>array.length) i=0;           
        }
        $( "*" ).keypress(function() {
            clearInterval(inter);
            w = $("#change").html();
            $("#result").html("<a href='/Admin/Tomboly/Vysledok?raffleId="+@ViewBag.RaffleId+"&winnerTicketId="+w+"' >Zapisat</a>")
        });
    </script>
</body>
</html>
