﻿@model IEnumerable<E_Tombola.Models.Core.Raffle>

@{
    ViewBag.Title = "Tomboly";
}
    <h2>Tomboly</h2>

    <p>
        <a class="btn btn-default pull-right" aria-label="Right Align" href=@Url.Action("Nova", "Tomboly")>
         Pridať tombolu
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </a>      
    </p>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PriceOfTicket)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.DateOfDrawing)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StartOfTicketSale)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EndOfTicketSale)
                    </th>
                    <th>
                        Počet lístkov
                    </th>
                    <th>Akcie</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PriceOfTicket)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateOfDrawing)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartOfTicketSale)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndOfTicketSale)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumberOfTickets)
                        </td>
                        <td>
                            @Html.ActionLink(" ", "Detail", new { id = item.Id }, new { @class = "btn btn-default glyphicon glyphicon-zoom-in", @title = "Detail" })
                      
                            @Html.ActionLink(" ", "Edituj", new { id = item.Id }, new { @class = "btn btn-default glyphicon glyphicon-pencil", @title = "Edituj" })
                            
                            @Html.ActionLink(" ", "Vymaz", new { id = item.Id }, new { @class = "btn btn-default glyphicon glyphicon-trash", @title = "Vymaž" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        
</div>