﻿@model E_Tombola.Models.Core.Raffle

@{
    ViewBag.Title = @Html.DisplayFor(model => model.Title);
}


<h3>Naozaj chcete odstrániť túto tombolu?</h3>
<div>
    <h4>Vymazať</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageURL)
        </dt>

        <dd>
            <img src="@Url.Content(Model.ImageURL)" width="200" height="200" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceOfTicket)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceOfTicket)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfCreation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfCreation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfDrawing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfDrawing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartOfTicketSale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartOfTicketSale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndOfTicketSale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndOfTicketSale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WinnerTicketId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WinnerTicketId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfTickets)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfTickets)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.HiddenFor(model => model.Id)
            <button type="submit" class="btn btn-default ">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Vymazať
            </button> |
            <a class="btn btn-default" aria-label="Left Align" href="../Index">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                Späť
            </a>
        </div>
    }
</div>
