﻿@model E_Tombola.Models.Core.Raffle

@{
    ViewBag.Title = "Zrebovanie";
}

<h1>Žrebovanie <small>@Model.Title</small></h1>

<div>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageURL)
        </dt>

        <dd>
            <img src="@Url.Content(Model.ImageURL)" width="150" height="150" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceOfTicket)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceOfTicket)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfCreation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfCreation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfDrawing)
        </dt>

        <dd>
            <strong>@Html.DisplayFor(model => model.DateOfDrawing)</strong>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartOfTicketSale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartOfTicketSale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndOfTicketSale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndOfTicketSale)
        </dd>



        

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfTickets)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfTickets)
        </dd>

        
        <dt>
            @Html.DisplayNameFor(model => model.WinnerTicketId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WinnerTicketId)
        </dd>

    </dl>
</div>
<hr />
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @if(!(bool)Context.Application["Zrebovanie"])
            { 
                <input type="submit" name="Command" value="Start Stream" class="btn btn-success" />
            }
            else 
            {
             <input type="submit" name="Command" value="Stop Stream" class="btn btn-danger" /> @:| @Html.ActionLink("E-Losovanie", "ELos", new { id = Model.Id }, new { target="_blank", @class = "btn btn-success" }) | @Html.ActionLink("Ručné losovanie", "ALos", new { id = Model.Id }, new { target="_blank", @class = "btn btn-success" })
            }
            <div>
                <a class="btn btn-default" aria-label="Left Align" href="@Url.Action("Index")">
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                    Späť
                </a>
            </div>
        </div>
    }
</div>


