﻿@using E_Tombola.Models;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Zmena hesla";
}

<h2>@User.Identity.Name <small>Zmena hesla</small></h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col-md-12">
        @if (ViewBag.HasLocalPassword)
        {
            @Html.Partial("_ChangePasswordPartial")
        }
        else
        {
            @Html.Partial("_SetPasswordPartial")
        }

    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
