﻿@model E_Tombola.Areas.Admin.Models.SingleMailViewModel

@{
    ViewBag.Title = "Hromadná správa";
}

<h2>Hromadná správa</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Počet príjemcov <span class="badge">@ViewBag.Receivers</span></h4>
        <hr />
        <p>Odošle správu všetkým (@ViewBag.Receivers) zákazníkom</p>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.From, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.From, new { @class = "full-width" })
                @Html.ValidationMessageFor(model => model.From)
            </div>
        </div>

        @Html.Hidden("To","-")

        <div class="form-group">
            @Html.LabelFor(model => model.Subject, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Subject, new { @class = "full-width" })
                @Html.ValidationMessageFor(model => model.Subject)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Body, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Body, new { @class = "full-width", @rows = "10" })
                @Html.ValidationMessageFor(model => model.Body)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Odoslať" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    <a class="btn btn-default" aria-label="Left Align" href="@Url.Action("Index")">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        Späť
    </a>
</div>

