﻿
@{
    ViewBag.Title = "Správy";
}

<h2><span class="glyphicon glyphicon-envelope "></span> Centrum správ</h2>



<div class="row">
    <div class="col-sm-7 col-md-6">
        <div class="thumbnail">
            <img data-src="holder.js/300x300" alt="...">
            <div class="caption">
                <h3>Jednoduchá správa</h3>
                <p>Správa pre jedného príjemcu</p>
                <p><a href="@Url.Action("Nova")" class="btn btn-primary" role="button">Napísať</a></p>
            </div>
        </div>
    </div>

    <div class="col-sm-7 col-md-6">
        <div class="thumbnail">
            <img data-src="holder.js/300x300" alt="...">
            <div class="caption">
                <h3>Hromadná správa</h3>
                <p>Správa pre viacerých príjemcov</p>
                <p><a href="@Url.Action("Hromadna")" class="btn btn-primary" role="button">Napísať</a></p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-7 col-md-6" >
        <div class="thumbnail">
            <img data-src="holder.js/300x300" alt="...">
            <div class="caption">
                <h3>Prijaté správy</h3>
                <p>Správy prijaté od zákazníkov</p>
                <p><a href="@Url.Action("Prijate")" class="btn btn-primary" role="button"><span class="badge">@ViewBag.NewCount</span> Zobraziť</a></p>
            </div>
        </div>
    </div>

    <div class="col-sm-7 col-md-6">
        <div class="thumbnail">
            <img data-src="holder.js/300x300" alt="...">
            <div class="caption">
                <h3>Odoslané správy</h3>
                <p>Všetky odoslané správy</p>
                <p><a href="@Url.Action("Odoslane")" class="btn btn-primary" role="button"> Zobraziť</a></p>
            </div>
        </div>
    </div>
</div>

