﻿@model IEnumerable<E_Tombola.Models.Core.Message>

@{
    ViewBag.Title = "Odoslané správy";
}

<h2>Odoslané <small>správy</small></h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.To)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.To)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>

            <td>
                @Html.ActionLink(" ", "Detail", new { id = item.MessageId }, new { @class = "btn btn-default glyphicon glyphicon-zoom-in", @title = "Detail" })
            </td>
        </tr>
    }

</table>
<div>
    <a class="btn btn-default" aria-label="Left Align" href="@Url.Action("Index")">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        Späť
    </a>
</div>