﻿@model E_Tombola.Areas.Admin.Models.ReceivedMessagesViewModel

@{
    ViewBag.Title = "Prijate";
}

<h2>Prijaté správy <small><span class="badge">@Model.newMessages.Count</span></small></h2>

<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">Neprečítané správy</h3>
    </div>
    <div class="panel-body">

    </div>
    <table class="table">
        <tr>
            <th>
                Od
            </th>
            <th>
                Predmet
            </th>
            <th>
                Čas
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.newMessages)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.From)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>

                <td>
                    <a class="btn btn-default " aria-label="Right Align" href=@Url.Action("Detail", "Spravy")>
                        <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                        Prečítať
                  
                    </a> 
                </td>
            </tr>
        }

    </table>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Prečítané správy</h3>
    </div>
    <div class="panel-body">

    </div>
    <table class="table">
        <tr>
            <th>
                Od
            </th>
            <th>
                Predmet
            </th>
            <th>
                Čas
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.receivedMessages)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.From)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>

                <td>
                    <a class="btn btn-default pull-right" aria-label="Right Align" href=@Url.Action("Detail", "Spravy")>
                        Otvoriť
                        <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
        }

    </table>
</div>
<div>
    <a class="btn btn-default " aria-label="Right Align" href=@Url.Action("Index")>        
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        Späť
    </a> | 
    <a class="btn btn-default " aria-label="Right Align" href=@Url.Action("Nova")>
        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
        Nová
    </a> |
    <a class="btn btn-default " aria-label="Right Align" href=@Url.Action("Odoslane")>
        <span class="glyphicon glyphicon-saved" aria-hidden="true"></span>
        Odoslané
    </a>
</div>

