﻿
@{
    ViewBag.Title = "Archiv";
}

<h2><span class="glyphicon glyphicon-time"></span> Archív tombol</h2>

<hr />
@if (Model.Count==0) { <h2>! <small>Archív je prázdný</small></h2>}
@foreach (var item in Model)
{
    <div class="jumbotron" style="background:url('@Url.Content(item.ImageURL)') no-repeat center center">
        <div class="row">
            <div class="col-md-8">
                <h1>@item.Title</h1>
                <p class="lead">@item.Description</p>
            </div>
            <div class="col-md-4 tombola_caption">
                <div>
                    <p>Hodnota ceny: @item.Price &#8364</p>
                    <p>Počet predaných lístkov: @item.Tickets.Count</p>
                    <p>
                        Dátum žrebovania: <br />
                        @item.DateOfDrawing

                    </p>
                    <p>Výherný lístok: @item.WinnerTicketId </p>
                    
                </div>
            </div>
        </div>
    </div>
}
<div>
    <a class="btn btn-default" aria-label="Left Align" href="@Url.Action("Index")">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        Späť
    </a>
</div>


