﻿@model IEnumerable<E_Tombola.Models.Core.Raffle>

@{
    ViewBag.Title = "Tomboly";
}


<h2><span class="glyphicon glyphicon-gift"></span> Aktívne tomboly</h2>

<hr />
@foreach(var item in Model)
{ 
<div class="jumbotron" style="background:url('@Url.Content(item.ImageURL)') no-repeat center center">
    <div class="row">
        <div class="col-md-8">
            <h1>@item.Title</h1>
            <p class="lead">@item.Description</p>
        </div>
        <div class="col-md-4 tombola_caption">
            <div>
                <p>Skúste štastie a zapojte sa do tomboly</p>
                <p>Hodnota ceny: @item.Price &#8364</p>
                <p>Počet lístkov: @item.Tickets.Count</p>
                <p>
                    Dátum žrebovania: <br />
                    @item.DateOfDrawing

                </p>
                @if (item.EndOfTicketSale > DateTime.Now)
                {
                    <p>Predaj lístkov končí o <span id="countdown1">@((item.EndOfTicketSale - DateTime.Now).Days) dni</span></p>

                    <p><a href=@Url.Action("KupListky", "Tombola", new { id = item.Id }) class="btn btn-success btn-large">Kúp tombolový lístok &raquo;</a></p>
                }
                else
                {
                    <p><strong>Predaj lístkov skončil.</strong></p>
                }
                </div>
        </div>
    </div>
</div>
}
<div>
    <a class="btn btn-default" aria-label="Left Align" href="@Url.Action("Archiv")">
        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
        Archív tombol
    </a>
</div>
