﻿@model E_Tombola.Controllers.TicketPurschaseViewModel

@{
    ViewBag.Title = "Kúp Listky";
}

<h1>Kúpiť tombolové lístky </h1>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        

        <h2><span class="glyphicon glyphicon-gift"></span> @Model.raffle.Title</h2>
        <hr />
        <div class="jumbotron" style="background:url('@Url.Content(Model.raffle.ImageURL)') no-repeat center center">
            <div class="row">
                <div class="col-md-8">
                    <h1>@Model.raffle.Title</h1>
                    <p class="lead">@Model.raffle.Description</p>
                </div>
                <div class="col-md-4 tombola_caption">
                    <div>
                        <p>Skúste štastie a zapojte sa do tomboly</p>
                        <p>Hodnota ceny: @Model.raffle.Price &#8364</p>
                        <p>Počet lístkov: @Model.raffle.Tickets.Count</p>
                        <p>
                            Dátum žrebovania: <br />
                            @Model.raffle.DateOfDrawing

                        </p>
                        <p>Koniec predaja lístkov o <span id="countdown1">@(Model.raffle.EndOfTicketSale.Subtract(DateTime.Now).Days) dni</span></p>
                        
                    </div>
                </div>
            </div>


        </div>

        <div class="form-group">
            @Html.HiddenFor(model => model.raffle.Id)
            @Html.HiddenFor(model => model.raffle.Title)
            @Html.HiddenFor(model => model.raffle.Description)
            @Html.HiddenFor(model => model.raffle.ImageURL)
            @Html.HiddenFor(model => model.raffle.Price)
            @Html.HiddenFor(model => model.raffle.PriceOfTicket)
            @Html.HiddenFor(model => model.raffle.DateOfCreation)
            @Html.HiddenFor(model => model.raffle.DateOfDrawing)
            @Html.HiddenFor(model => model.raffle.StartOfTicketSale)
            @Html.HiddenFor(model => model.raffle.EndOfTicketSale)
            @Html.HiddenFor(model => model.raffle.IsActive)
            @Html.HiddenFor(model => model.raffle.NumberOfTickets)
            @Html.LabelFor(model => model.Count, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Count)
                @Html.ValidationMessageFor(model => model.Count)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kúpiť lístky" class="btn btn-danger" />
            </div>
        </div>
    </div>
}

<div>
    <a class="btn btn-default" aria-label="Left Align" href="@Url.Action("Index")">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        Späť
    </a>
</div>
