﻿@model E_Tombola.Models.Core.Raffle
@{
    ViewBag.Title = "Zrebovanie";
}

<h2><span class="glyphicon glyphicon-globe"></span> Sledujete LIVE prenos zo žrebovania</h2>
<hr />
<div class="jumbotron" style="background:url('@Url.Content(Model.ImageURL)') no-repeat center center">
    <div class="row">
        <div class="col-md-8">
            <h1>@Model.Title</h1>
            <p class="lead">@Model.Description</p>
        </div>
        <div class="col-md-4 tombola_caption">
            <div>
                <p>Hodnota ceny: @Model.Price &#8364</p>
                <p>Počet lístkov: @Model.Tickets.Count</p>
                <p>
                    Dátum žrebovania: <br />
                    @Model.DateOfDrawing
                </p>           
            </div>
        </div>
    </div>
</div>

<div id="VideoHolder">
    video....
</div>
