﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - E-tombola</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/frontcss")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/toast")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("E-tombola", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Request.IsAuthenticated && User.IsInRole("Administrator"))
                    {
                        <li><a class="btn btn-link" aria-label="Left Align" href="@Url.Action("Index", "DashBoard", new { Area = "Admin" } )">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        Administrácia
                            </a>
                    </li>
                    
                    }
                    <li>@Html.ActionLink("Domov", "Index", "Home")</li>
                    <li>@Html.ActionLink("Tomboly", "Index", "Tombola")</li>
                    <li>@Html.ActionLink("Ako to funguje?", "Index", "Navod")</li>
                    <li>@Html.ActionLink("Kontakt","Index", "Kontakt")</li>
                    
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="row">

            <div class="col-md-9">
                
                @RenderBody()
            </div>

            <div class="col-md-3" id="rightCol">
                @if (Request.IsAuthenticated && !User.IsInRole("Administrator")) { 
                @Html.Action("MiniProfil", "Profil")
                }
                

                @if((bool)Context.Application["Zrebovanie"])
                {
                    <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" >Žrebovanie</h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            <strong>
                                <span class="glyphicon glyphicon-globe"></span> Práve prebieha online žrebovanie!
                            </strong>
                        </p>
                        <p>
                            <div>
                                <a class="btn btn-danger" aria-label="Left Align" href="@Url.Action("Zrebovanie","Tombola")">
                                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                                    Sleduj!
                                </a>
                            </div>
                        </p>

                    </div>
                </div>
                }
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"> Posledné žrebovanie</h3>
                    </div>
                    <div class="panel-body">
                        <div>
                            Video z posledného žrebovania.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"> Facebook</h3>
                    </div>
                    <div class="panel-body">
                        <a>
                            bla bla bla
                        </a>
                    </div>
                </div>
                

            </div>
    </div>
            
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - E-tombola</p>
            </footer>
        </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/toast")
    @RenderSection("scripts", required: false)
    
    @{
        var msg = TempData["msg"] as string;

        if (!String.IsNullOrEmpty(msg))
        {
            <script type="text/javascript">
            $.toast({
                text: "<span class='glyphicon glyphicon-info-sign'></span> @msg",
                position: { left:'auto', right: 15 , top: 60, bottom: 'auto' }
            })
            </script>
        }

    }
</body>
</html>
