﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Odhlasit", "Ucet", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink( User.Identity.GetUserName() + "!", "ZmenaHesla", "Ucet", routeValues: null, htmlAttributes: new { title = "Profil" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Odhlásiť</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Registrovať", "Registrovat", "Ucet", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Prihlásiť", "Prihlasit", "Ucet", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
