﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 500px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}


textarea, input.full-width {
    width: 100%;
}

.big-glyph {
    font-size: 1.5em;
}

.body-content {
    margin-top: 25px;
}


.jumbotron h1 {
    font-size: 45px;
}

.tombola_caption {
    background: rgb(54, 25, 25);
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 15px;
    padding:30px;
}