﻿@model E_Tombola.Models.FakeGateViewModel

@{
    ViewBag.Title = "FakeGate";
}

<h2>Fake Gate</h2>

<h3>Are you sure to pay this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReturnUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnUrl)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" name="Command" value="Pay" class="btn btn-default" /> | <input type="submit" name="Command" value="Cancel" class="btn btn-default" />
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
