﻿
@{
    ViewBag.Title = "Kredit";
}
<h1><span class="glyphicon glyphicon-shopping-cart"></span> Nákup kreditu</h1>
<hr />
<h2>1. <small>Vyberte platobnú metódu:</small></h2>
<p>
    <small>
        Nakúpte kredity jedným z doleuvedených spôsobov.
        Viac informácií sa zobrazí po kliknutí na zvolenú platobnú metódu
    </small>
 </p>
<hr />

<div class="row">


    <div class="col-md-4 ">
        
        <a href=@Url.Action("SMS") class="btn btn-default" title="SMS správou" >
            <h2>SMS - správou</h2>
            <span class="glyphicon glyphicon-phone big-glyph-icon"></span>
        </a>
    </div>
    <div class="col-md-4">

        <a href=@Url.Action("Karta") class="btn btn-default" title="Kreditnou kartou">
            <h2>Kreditnou kartou</h2>
            <span class="glyphicon glyphicon-credit-card big-glyph-icon"></span>
        </a>
    </div>
    <div class="col-md-4">
        
        <a href=@Url.Action("Prevod") class="btn btn-default" title="Prevodom na účet">
            <h2>Prevodom <small>na účet</small></h2>
            <span class="glyphicon glyphicon-transfer big-glyph-icon"></span>
        </a>
    </div>
</div>