﻿@model E_Tombola.Models.PurchaseKreditViewModel

@{
    ViewBag.Title = "Karta";
}

<h1><span class="glyphicon glyphicon-credit-card"></span> Dobitie kreditu <small> Platobnou kartou</small></h1>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="form-horizontal">
        <h2>2. <small>Vyberte množstvo:</small></h2>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group container">
            <p>
                @foreach (var item in Model.listOfAmounts)
                {

                    @Html.RadioButtonFor(m => m.SelectedAmount, item.Number)@item.Description <br /> <br />

                }
            </p>
        </div>

        <div class="form-group">
            <div class=" col-md-10">
                <input type="submit" value="Pokračovať" class="btn btn-success pull-left" />
            </div>
        </div>
        <div>
            <p>
                <small>Po stlačení tlačidla "Pokračovať" budete presmerovaný na portál platobnej brány PayU. Po zrealizovaní platby budete automaticky presmerovaný naspäť na náš portál.</small>
            </p>
        </div>
        <div>
            <p>
                <small>Túto službu zabezpečuje <a href="http://payU.sk" target="_blank">payU.sk</a></small>
            </p>
        </div>
        <hr />
    </div>
}
<div>
    <a class="btn btn-default" aria-label="Left Align" href="@Url.Action("Index")">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        Späť
    </a>
</div>

