﻿@model E_Tombola.Models.Core.Purchase

@{
    ViewBag.Title = "Platba kartou - potvrdenie";
}

<h1>Platba platobnou kartou <small>potvrdenie</small></h1>
<span class="glyphicon glyphicon-credit-card big-glyph-icon"></span> <span class="big-glyph">@ViewBag.Message</span>
<hr />
<div>
    <h2>Transakcia s ID: @Model.PurchaseId <small>@Model.Time</small></h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentMethod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentMethod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

    </dl>
</div>
<p>
    V prípade akýchkoľvek problémov alebo otázok nás neváhajte <b>@Html.ActionLink("Kontaktovať", "Index", "Kontakt")</b>.
</p>
