﻿
@{
    ViewBag.Title = "Prevod";
}

<h1><span class="glyphicon glyphicon-transfer"></span> Dobitie kreditu <small> prevodom</small></h1>
<hr />

<h2>Bezhotovostným provodom alebo vkladom</h2>
<hr />
<div>
    <p>
        Možnosti: 
        <ol>
            <li>V rámci svojho internetbankingu vykonajte platbu podľa údajov nižšie</li>
            <li>V hotovosti na ktorejkoľvek pobočke banky ČSOB na náš účet podľa údajov nižšie</li>
        </ol>
        <ul>
            <li>Nezabudniťe na variabilný symbol! Slúží nám k identifikácií platby.</li>
            <li>Kredity Vám budú pripísané ihneď po pripísaní platby na náš účet.</li>
            <li>Berte prosím na vedomie, že bankový prevod z inej banky trvá približne 2 pracovné dni. </li>
        </ul>
    </p>
</div>
<div>
    <dl class="dl-horizontal">
        <dt>Číslo účtu: </dt>
        <dd><b>0123456789/1234</b> ČSOB a.s.</dd>
        <dt>Variabilný symbol:</dt>
        <dd><b>@User.Identity.Name.GetHashCode()</b></dd>
        <dt>Suma:</dt>
        <dd>
            1,00 € (1 kredit) <br />
            5,00 € (5 kreditov) <br />
            10,00 € (11 kreditov) <br />
            20,00 € (22 kreditov) <br />
        </dd>
    </dl>
</div>

<div>
    <a class="btn btn-default" aria-label="Left Align" href="@Url.Action("Index")">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        Späť
    </a>
</div>

