﻿@model E_Tombola.Areas.Admin.Models.DashBoardViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Prehľad</h2>
<hr />
<p>
    Počet registrovaných uživateľov : @Model.NumberOfUsers
</p>
<hr />

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Najbližšie žrebovania</h3>
    </div>
    <div class="panel-body">
        <a class="btn btn-default" aria-label="Left Align" href="@Url.Action("Index","Tomboly")">
            Ukáž všetky
        </a>
    </div>
    <table class="table">
        <tr>
            <th>
                Názov
            </th>
            <th>
                Cena
            </th>
            <th>
                Čas žrebovania
            </th>
            <th>
                Koniec predaja lístkov
            </th>
            <th>
                Počet lístkov
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.ClosestDrawingRaffles)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.DateOfDrawing)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.EndOfTicketSale)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.EndOfTicketSale)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfTickets)
                </td>

                <td>
                    <p>
                        <a class="btn btn-default " aria-label="Right Align" href=@Url.Action("Detail", "Tomboly", new { id = item.Id })>
                            <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                            Detail

                        </a>
                    </p>
                    
                    <p>
                        <a class="btn btn-danger " aria-label="Right Align" href=@Url.Action("Zrebovanie", "Tomboly", new { id = item.Id })>
                            <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
                            Žrebuj

                        </a>
                    </p>
                </td>
            </tr>
        }

    </table>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Aktívne tomboly</h3>
    </div>
    <div class="panel-body">
        <a class="btn btn-default" aria-label="Left Align" href="@Url.Action("Index","Tomboly")">
            Ukáž všetky
        </a>
    </div>
    <table class="table">
        <tr>
            <th>
                Názov
            </th>
            <th>
                Cena
            </th>
            <th>
                Čas žrebovania
            </th>
            <th>
                Koniec predaja lístkov
            </th>
            <th>
                Počet lístkov
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.ActiveRaffles)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.DateOfDrawing)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.EndOfTicketSale)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfTickets)
                </td>

                <td>
                    <a class="btn btn-default " aria-label="Right Align" href=@Url.Action("Detail", "Tomboly", new { id = item.Id })>
                        <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                        Detail

                    </a>
                </td>
            </tr>
        }

    </table>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Nepotvrdené platby</h3>
    </div>
    <div class="panel-body">
        <a class="btn btn-default" aria-label="Left Align" href="@Url.Action("Index","Transakcie")">
            Ukáž všetky
        </a>
    </div>
    <table class="table">
        <tr>
            <th>
                Id
            </th>
            <th>
                Meno zákazníka
            </th>
            <th>
                Množstvo
            </th>
            <th>
                Cena
            </th>
            <th>
                Platobná metóda
            </th>

            <th>
                Status
            </th>
            <th>
                Čas
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.UnconfirmedPurchases)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PurchaseId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PaymentMethod)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>

                <td>
                    <a class="btn btn-default " aria-label="Right Align" href=@Url.Action("Detail", "Transakcie", new { id = item.PurchaseId })>
                        <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                        Detail

                    </a>
                </td>
            </tr>
        }

    </table>
</div>

<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">Neprečítané správy</h3>
    </div>
    <div class="panel-body">
        <a class="btn btn-default" aria-label="Left Align" href="@Url.Action("Prijate","Spravy")">
            Ukáž všetky
        </a>
    </div>
    <table class="table">
        <tr>
            <th>
                Od
            </th>
            <th>
                Predmet
            </th>
            <th>
                Čas
            </th>
            
            <th></th>
        </tr>

        @foreach (var item in Model.UnreadedMessages)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.From)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>

                <td>
                    <a class="btn btn-default " aria-label="Right Align" href=@Url.Action("Detail", "Spravy", new { id = item.MessageId })>
                        <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                        Detail

                    </a>
                </td>
            </tr>
        }

    </table>
</div>